/* ------------------ FONTS ------------------ */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* ------------------ VARIABLES ------------------ */
:root{
  --light-color: #FFFFFF;
  --dark-color: #18181b;
  --gray-color: #61616C;
}

/* ------------------ GLOBAL ------------------ */
*{
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html,
body{
  min-height: 4000px;
  color: var(--light-color);
  background-color: var(--dark-color);
}

.content{
  max-width: 1600px;
  padding: 0 40px;
  margin: auto;
}

::-webkit-scrollbar{
  display: none;
}

/* SCROLL DOWN */
.tredy{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
}

.circular-text{
  color: transparent;
  font-size: 24px;
  font-weight: bolder;
  transition: .5s ease-out;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.6);
}

.arrow{
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
}

svg{
  font-size: 80px;
  color: var(--light-color);
}

.main-content .credits{
  position: fixed;
  bottom: 40px;
  right: 40px;
  border-radius: 5px;
  color: var(--light-color);
}

.main-content .credits span{
  color: var(--gray-color);
  transition: all .3s ease;
}

.main-content .credits:hover span{
  text-decoration: underline;
}

.main-content .credits svg{
  font-size: 14px;
}